h3 {
    color: blue;
    font-style: italic;
  }
  h2 {
    color: brown;
    font-style: normal;
    text-align: center;
  }
  body{
    background-color: bisque;
    margin: auto;
  }
  img{
    border-radius: 50px;
    width: 300px;
    float: left;
    text-align: right;
  }