h3 {
    color: blue;
    font-style: italic;
  }
  h2 {
    color: brown;
    font-style: normal;
    text-align: center;
  }
  body{
    background-color: bisque;
    margin-top: 75px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 75px;
    text-align: center;
  }
  img{
    border-radius: 100px;
    width: 150px;
    margin: auto;
    height: 200px;
    text-align: center;
  }
.tool_kit{
  color:red;
  }
  .key{
    background-color: yellowgreen;
  }
  li{
    text-align: left;
  }